.play-icon {
  color: white;
  font-size: 40px;
  margin-top: -16px;
}

.play-button {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: darkcyan;
}

.play-container {
  padding: 20px;
}
