.drag-and-drop-button-container {
  padding: 10px;
}

.add-icon {
  color: white;
  font-size: 30px;
  margin-top: -10px;
}

.upload-label {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}

ngx-dropzone {
  border: 1px dashed #D3D3D3;
  height: 200px;
  justify-content: center;
}

ngx-dropzone ngx-dropzone-preview {
  height: 100px !important;
  min-width: 50px !important;
  min-height: 50px !important;
  background-image: none;
  background-color: pink;
}

div.drag-and-drop-container {
  margin-top: 300px;
  width: 100%;

  mat-card.basic-card {
    background-color: palevioletred;
    max-width: 550px;
    margin:0;
    padding:0 !important;
  }
}
