<div class="drag-and-drop-container">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="card">
      <mat-card class="basic-card mat-elevation-z24" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="upload-label">upload image</div>
        <div class="drag-and-drop-button-container">
          <button mat-fab (click)="onClick()" class="upload-button">
              <span class="material-icons add-icon">
                  add
              </span>
          </button>
        </div>
      </mat-card>
    </div>

    <app-carousel (toggleChange)="receive($event)"></app-carousel>

    <div class="card" *ngIf="isVisible">
      <mat-card class="basic-card mat-elevation-z24">
        <mat-card-content>
          <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-preview [removable]="true">
                <ngx-dropzone-label>Drag and drop or browse to choose a file</ngx-dropzone-label>
              </ngx-dropzone-preview>
          </ngx-dropzone>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
