/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

@include mat-core();
@include angular-material-theme($my-theme);

html, body { height: 100%; }
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-image: url("./assets/headphones.jpg");
   background-size: cover;
}
