@import '~@angular/material/theming';

@import './custom-theme.scss'; 
// @include custom-themes($my-theme);

$my-theme-primary: mat-palette($mat-pink, 50);
$my-theme-accent: mat-palette($mat-pink, 100);
$my-theme-warn: mat-palette($mat-pink, 200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

$my-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);